@import "../../../styles/variables";

.card-wrapper {
  width: 17.25rem;
  position: relative;
  overflow: hidden;
  border-radius: $s-border;

  .see-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: $primary-color;
    padding: $s-padding;
    border: 1px solid $border-color;
    transition: all 0.3s ease;
    font-size: 18px;
    font-style: italic;
  }

  .image-overlay {
    height: 18.75rem;
    width: 100%;
    cursor: pointer;
  }
}

.product-image {
  border-radius: $s-border $s-border 0 0;
  height: 18.75rem;
  width: 100%;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: blur(4px);
  }
}
.product-data {
  display: flex;
  flex-direction: column;
  gap: $xs-margin;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: $s-padding;
}
