.cards-container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-items: center;
    align-items: center;
    row-gap: 2.75rem;
    justify-content: space-between;
}

