//colors
$primary-color: #ffffff;
$text-color: #141414;
$accent-color: #FBAE84;
$border-color: #F5F5F7;
$input-background: #F5F5F7;

//margins

$xs-margin: 0.25rem;
$s-margin: 0.5rem;
$standard-margin: 0.75rem;
$lg-margin: 1rem;
$xl-margin: 1.25rem;

// border-radius

$xs-border: 0.25rem;
$s-border: 0.5rem;
$standard-border: 0.75rem;
$lg-border: 1rem;
$xl-border: 1.25rem;
//paddings

$xs-padding: 0.25rem;
$s-padding: 0.5rem;
$standard-padding: 0.75rem;
$lg-padding: 1rem;
$xl-padding: 1.25rem;

//media query breakpoins

$mobile-breakpoint: 22.5em;
$ipads-breakpoint: 50em;
$desktop-breakpoint: 75em;