@import "../../../styles/variables";

.delete-btn {
    background-color: $accent-color;
    border-radius: $xs-border;
    border: none;
    cursor: pointer;
}

.delete-item {
    height: 26px;
    width: 26px;
}