@import "../../../styles/variables";

.search-field {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translate(50%, -50%);
    opacity: 0.5;

}

.search-input {
    width: 185px;
    height: 30px;
    padding: $standard-padding;
    background-color: $input-background;
    border: $border-color;
    font-size: 14px;
    border-radius: $xs-border;

    &:focus + .search-icon {
       display: none;
    }
}